<div class="flex w-full">
    <a href="{% url 'users:github_login' %}" class="btn w-1/2 bg-blue-600 font-medium text-white p-2 m-1">
        <i class="fab fa-facebook mr-2"></i>Facebook
    </a>

    <a href="{% url 'users:github_login' %}" class="btn w-1/2 font-medium text-black p-2 m-1">
        <i class="fab fa-google mr-2"></i>Google
    </a>

</div>

<div class="flex items-center w-full my-4">
        <div class="h-px w-full text-gray-500 bg-gray-500"></div>
        <span class="text-gray-600 font-medium mx-2">OR</span>
        <div class="h-px w-full text-gray-500 bg-gray-500"></div>
    </div>