{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block content %}
    <title>Title</title>
</head>
<body>
    <div class="container mx-auto">

        <div class="xl:rounded-xl lg:rounded-xl md:rounded-xl sm:rounded-xl rounded-none w-full h-50vh mt-32 mb-24 bg-cover bg-center" style="background-image: url('https://images.unsplash.com/photo-1551641506-ee5bf4cb45f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1062&q=80')">
        </div>

        <div class="flex flex-wrap items-center">
        {% for room in rooms %}
            {% include 'mixins/room_card.html' with room=room %}
        {% endfor %}
        </div>
        
        <div class="flex items-center justify-center mx-auto my-8 container">
        {% if page_obj.has_previous %}
            <a href="?page={{page_obj.previous_page_number}}">
                <i class="fas fa-arrow-left fa-md"></i>
            </a>
        {% endif %}

        <span class="mx-3 font-medium text-lg">{{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>

        {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}">
                <i class="fas fa-arrow-right fa-md"></i>
            </a>
        {% endif %}
        </div>
    </div>

    {% endblock %}
</body>
</html>