{% extends 'base.html' %}

{% block content %}

{% block search-bar %}
{% endblock search-bar %}
\
<div class="container mx-auto my-12 flex xl:flex-row lg:flex-row flex-col">
    <div class="xl:w-1/4 lg:w-1/4 md:w-full sm:w-full w-full">
        <form method="get" action="{% url 'rooms:search' %}">
            <div>{{form.as_p}}</div>
            <button class="my-8">Search</button>
        </form>
    </div>
    <div class="flex flex-col xl:w-9/12 lg:w-9/12 md:w-full sm:w-full w-full xl:m-6 lg:m-6">
        {% for room in rooms %}
            <div class="mb-5 p-6 border border-gray-500 flex rounded-md">
                <img src={{room.first_photo}} class="w-1/3 rounded-md">
                <div class="flex items-start">
                    <div class="ml-5 flex flex-col text-lg">
                        <span class="font-semibold"><a href="{% url 'rooms:detail' room.pk %}">{{room.name}}</a></span>
                        <span class="text-gray-500 text-sm font-semibold">{{room.city}}, {{room.country.name}}</span>
                        <span class="text-sm"><i class="fas fa-star text-yellow-400 text-sm"></i> {{room.total_rating}}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}