container_commands:
    01_migrate:
        command: "django-admin migrate"
        leader_only: true
    02_createsu:
        command: "django-admin createsu"
    03_seedrooms:
        command: "python manage.py seed_rooms --number 18"
    04_seedreviews:
        command: "python manage.py seed_reviews --number 80"
option_settings:
    aws:elasticbeanstalk:container:python:
        WSGIPath: hosuto/wsgi.py
    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: hosuto.settings