container_commands:
    01_migrate:
        command: "django-admin migrate"
        leader_only: true
    02_createsu:
        command: "django-admin createsu"
    03_collectstatic:
        command: "django-admin collectstatic --noinput"
    04_seedusers:
        command: "python manage.py seed_users --number 20"
    05_seedamenities:
        command: "python manage.py seed_amenities"
    06_seedfacilities:
        command: "python manage.py seed_facilities"
    07_seedrules:
        command: "python manage.py seed_house_rules"
    08_seedrooms:
        command: "python manage.py seed_rooms --number 15"
    09_seedreviews:
        command: "python manage.py seed_reviews --number 80"
option_settings:
    aws:elasticbeanstalk:container:python:
        WSGIPath: hosuto/wsgi.py
    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: hosuto.settings