container_commands:
    01_migrate:
        command: "django-admin migrate"
        leader_only: true
    02_createsu:
        command: "django-admin createsu"
    03_seedusers:
        command: "python manage.py seed_users --number 20"
    04_seedreviews:
        command: "python manage.py seed_amenities"
    05_seedfacilities:
        command: "python manage.py seed_facilities"
    06_seedrules:
        command: "python manage.py seed_house_rules"
option_settings:
    aws:elasticbeanstalk:container:python:
        WSGIPath: hosuto/wsgi.py
    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: hosuto.settings