@tailwind base;

@tailwind components;


.search-box{
    transition: box-shadow 0.2s linear;
}

.nav_link{
    @apply ml-8 border-b-2 border-white px-2 h-full flex items-center;
    a{
        @apply py-10 px-5;
    }
    &:hover{
        @apply border-gray-600
    }
}

.btn{
    @apply text-center font-light rounded-sm border border-gray-700;
}

.btn-link{
    @apply w-7/12 bg-purple-500 text-white text-center rounded-md py-2 border border-gray-700;
}

input,
textarea,
select{
    @apply w-full text-left py-3 px-4 mb-3 font-light rounded-sm border border-gray-700;
    &:focus{
        @apply outline-none border-purple-400;
    }
}

textarea{
    resize: none;
    height: 120px;
}

select{
    height: 50px;
}

form{
    .input{
        @apply mb-2;
        &.has_error{
            input{
                @apply bg-red-200 border-red-200;
                &:focus{
                    @apply border-red-200;
                }
            }
        }
    }
}

@keyframes messageFadeIn{
    0%{
        opacity: 0;
        transform: translateY(-10px);
    }
    5%{
        opacity: 1;
        transform: translateY(10px);
    }
    95%{
        opacity: 1;
        transform: translateY(10px);
    }
    100%{
        opacity: 0;
        transform: translateY(-10px);
    }
}

.message{
    animation: messageFadeIn 5s ease-in-out forwards;
    &.error{
        @apply z-20 bg-red-600;
    }
    &.info{
        @apply z-20 bg-purple-400;
    }
    &.success{
        @apply z-20 bg-green-500;
    }
    &.warning{
        @apply z-20 bg-yellow-400;
    }
}

ul{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.slick-dots{
    @apply absolute mb-20 list-none flex justify-center items-center w-full text-transparent;
    font-size: 0;
    li{
        @apply relative inline-block cursor-pointer;
        button{
            @apply relative bg-gray-500 opacity-25 w-8 h-2 m-2 p-0 ;
        }
    }
}

.slick-arrow{
    font-size: 0;
}

.cal-grid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 7px;
    justify-items: center;
}

@tailwind utilities;